/*剁手宝的初始化*/
@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*
    头部
*/
header {
    background-color: #F1F1F1;
    height: 140px;
}
header .top > div {
    height: 100px;
    font: 40px/100px "microsoft yahei";
    padding-left: 20%;
    color: #334960;

}
header .top > ul {
    background-color: #444444;
    height: 40px;
    padding-left: 20%;
}
header .top > ul li {
    float: left;
    font: 20px/40px "microsoft yahei";
    padding-right: 60px;
}
header .top > ul li a {
    display: inline-block;
    color: #ffffff;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
header .top > ul li a:hover {
    opacity: 0.5;
}


.wenzhang {
    margin-top: 50px;
    padding:0 20%;
    font-family: "microsoft yahei";
    margin-bottom: 10%;
    color: #000000;
}
.wenzhang h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}
.wenzhang p {
    text-indent: 2em;
    font-size: 16px;
    line-height: 24px;
    margin: 2%;
}
.wenzhang h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}
.wenzhang li {
    font-size: 22px;
    font-weight: 700;
}
.wenzhang li a {
    color: #54BAF3;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.wenzhang li a:hover {
    color: #0066FF;
}

form {
    padding-top: 20px;
    padding-left: 20%;
    color: #777;
    font-size: 20px;
}
form input {
    margin: 5px;
}
form input:last-child {
    font-size: 15px;
    margin-top: 20px;


}
form textarea {
    margin-top: 10px;
    width: 600px;
    height: 100px;
}
.chakanliuyan {
    padding-left: 20%;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}
.chakanliuyan a {
    color: #54BAF3;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.chakanliuyan a:hover {
    color: #0066FF;
}

/* 留言css部分 */
.biaoge {
    margin-top: 50px;
    font-family: "microsoft yahei";
    color: #777;
}
.biaoge a {
    color: #54BAF3;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.biaoge a:hover {
    color: #0066FF;
}

